extends layout

block content
  #wrapper
    #logo
        img(src='images/logo.png' width=200)

    #display
        #login        
            form(method='post')
                | Login with email
                div
                    input(type='text', placeholder="Email" name='email')
                    input(type='text', placeholder="password" name='password')
                    input(type='submit', value='Log In')
        
    #footer
        div(class='footer') Copyright © Hexafold Tech #{+new Date().getFullYear()}  
        div(class='footer')
            a(class='footer' href='/page?name=about') About 
            a(class='footer' href='/page?name=contact') Contact Us